<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to eshop</title>
</head>
<body>
<div th:each="category : ${categories}">
    <h2 th:text="'Category Name: ' + ${category.categoryName} + ' ('+${#lists.size(category.productSet)}+' Products)'"></h2>
    <a th:href="@{/categories/{id}(id=${{category.id}})}">View Products</a> <!--Button-->
</div>
</body>
</html>