<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<div th:each="product: ${category.productSet}">
    <p th:text="'Product Name: ' + ${product.productName}"></p>
    <p th:text="'Product description: ' + ${product.productDescription}"></p>
    <p th:text="'Product Price: ' + ${product.productPrice}"></p>
    <p th:text="'Product Stock: ' + ${product.stock}"></p><br>

</div>

</body>
</html>